# Godot 4+ specific ignores
.godot/
*.translation

# Project specific ignores
addons/*
!addons/kanban_tasks/
!addons/standalone_plugin/
editor_script.gd

export/
generated/
addons/kanban_tasks/data.json
addons/kanban_tasks/data.kanban
kanban_tasks_data.json
kanban_tasks_data.kanban
override.cfg
